<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
 http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <!-- 配置核心控制 servlet的名字决定了核心配置文件的命名：springmvc-servlet.xml -->
        <servlet-name>myspringmvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!-- 指定spring配置文件的位置,如果不配置默认/WEB-INF/[servlet-name]-servlet -->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:myspringmvc-servlet.xml</param-value>
        </init-param>
        <!-- 项目启动时加载 -->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>myspringmvc</servlet-name>
        <!-- 配置url-pattern，设置为"/"表示拦截到所有的URL请求并映射到myspringmvc，包括静态资源如html, js, jpg等-->
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>

